<h1>Indice<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introducción" data-toc-modified-id="Introducción-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introducción</a></span><ul class="toc-item"><li><span><a href="#Objetivos" data-toc-modified-id="Objetivos-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Objetivos</a></span></li></ul></li><li><span><a href="#Datos-y-librerías" data-toc-modified-id="Datos-y-librerías-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Datos y librerías</a></span><ul class="toc-item"><li><span><a href="#Librerías" data-toc-modified-id="Librerías-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Librerías</a></span></li><li><span><a href="#Datos" data-toc-modified-id="Datos-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Datos</a></span></li><li><span><a href="#Conociendo-los-datos" data-toc-modified-id="Conociendo-los-datos-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Conociendo los datos</a></span><ul class="toc-item"><li><span><a href="#df0" data-toc-modified-id="df0-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>df0</a></span></li><li><span><a href="#df1" data-toc-modified-id="df1-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span>df1</a></span></li><li><span><a href="#df2" data-toc-modified-id="df2-2.3.3"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span>df2</a></span></li></ul></li><li><span><a href="#Limpieza-de-datos" data-toc-modified-id="Limpieza-de-datos-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Limpieza de datos</a></span></li></ul></li><li><span><a href="#Primer-modelo" data-toc-modified-id="Primer-modelo-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Primer modelo</a></span><ul class="toc-item"><li><span><a href="#Comparación" data-toc-modified-id="Comparación-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Comparación</a></span></li></ul></li><li><span><a href="#Cálculo-de-ganancias" data-toc-modified-id="Cálculo-de-ganancias-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Cálculo de ganancias</a></span><ul class="toc-item"><li><span><a href="#Variables-importantes" data-toc-modified-id="Variables-importantes-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Variables importantes</a></span></li><li><span><a href="#Costo-por-pozo" data-toc-modified-id="Costo-por-pozo-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Costo por pozo</a></span></li><li><span><a href="#Ganancias" data-toc-modified-id="Ganancias-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Ganancias</a></span></li></ul></li><li><span><a href="#Conclusión-general" data-toc-modified-id="Conclusión-general-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Conclusión general</a></span></li></ul></div>

# Introducción

Este proyecto es para que la compañía minera OilyGiant pueda encontrar el mejor lugar para colocar un nuevo pozo minero. Para esto, contamos con la información de multiples reservas en 3 regiones. 

Utilizando el modelo predictivo de tipo regresión lineal, estudiaremos estos datos para poder encontrar el mejor lugar para instalar un nuevo pozo. Esto nos ayudará a calcular las posibles ganancias y los riesgos asociados a cada pozo y región.

## Objetivos

1. Encontrar la región que proporcione las mayores ganancias predichas.
2. Calcular riesgos y ganancias de pozos y regiones.

# Datos y librerías

## Librerías

In [22]:
# Cargamos las librerias que nos servirán para nuestro análisis
import pandas as pd
from scipy import stats as st

from numpy.random import RandomState

from sklearn.linear_model import LogisticRegression 
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

## Datos

In [23]:
# Cargamos los datos de cada tabla por separado

try:
    df0 = pd.read_csv('C:/Users/tomas/Downloads/geo_data_0.csv')
except:
    df0 = pd.read_csv('/datasets/geo_data_0.csv')
try:
    df1 = pd.read_csv('C:/Users/tomas/Downloads/geo_data_1.csv')
except:
    df1 = pd.read_csv('/datasets/geo_data_1.csv')
try:
    df2 = pd.read_csv('C:/Users/tomas/Downloads/geo_data_2.csv')
except:
    df2 = pd.read_csv('/datasets/geo_data_2.csv')

## Conociendo los datos

Para trabajar con estos datos, necesitamos conocerlos. Cómo estos son en su mayoría numéricos, también utilizaremos el método `describe`, además de `info` y `head`. De esta forma, podremos ver las primeras filas de cada Dataframe, sus columnas, tipos de datos y distribución estadística.

### df0

In [24]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

In [25]:
df0.head()

      id        f0        f1        f2     product
0  txEyH  0.705745 -0.497823  1.221170  105.280062
1  2acmU  1.334711 -0.340164  4.365080   73.037750
2  409Wp  1.022732  0.151990  1.419926   85.265647
3  iJLyR -0.032172  0.139033  2.978566  168.620776
4  Xdl7t  1.988431  0.155413  4.751769  154.036647

In [26]:
df0.describe()

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        0.500419       0.250143       2.502647      92.500000
std         0.871832       0.504433       3.248248      44.288691
min        -1.408605      -0.848218     -12.088328       0.000000
25%        -0.072580      -0.200881       0.287748      56.497507
50%         0.502360       0.250252       2.515969      91.849972
75%         1.073581       0.700646       4.715088     128.564089
max         2.362331       1.343769      16.003790     185.364347

### df1

In [27]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

In [28]:
df1.head()

      id         f0         f1        f2     product
0  kBEdx -15.001348  -8.276000 -0.005876    3.179103
1  62mP7  14.272088  -3.475083  0.999183   26.953261
2  vyE1P   6.263187  -5.948386  5.001160  134.766305
3  KcrkZ -13.081196 -11.506057  4.999415  137.945408
4  AHL4O  12.702195  -8.147433  5.004363  134.766305

In [29]:
df1.describe()

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        1.141296      -4.796579       2.494541      68.825000
std         8.965932       5.119872       1.703572      45.944423
min       -31.609576     -26.358598      -0.018144       0.000000
25%        -6.298551      -8.267985       1.000021      26.953261
50%         1.153055      -4.813172       2.011479      57.085625
75%         8.621015      -1.332816       3.999904     107.813044
max        29.421755      18.734063       5.019721     137.945408

### df2

In [30]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

In [31]:
df2.head()

      id        f0        f1        f2     product
0  fwXo0 -1.146987  0.963328 -0.828965   27.758673
1  WJtFt  0.262778  0.269839 -2.530187   56.069697
2  ovLUW  0.194587  0.289035 -5.586433   62.871910
3  q6cA6  2.236060 -0.553760  0.930038  114.572842
4  WPMUX -0.515993  1.716266  5.899011  149.600746

In [32]:
df2.describe()

                  f0             f1             f2        product
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        0.002023      -0.002081       2.495128      95.000000
std         1.732045       1.730417       3.473445      44.749921
min        -8.760004      -7.084020     -11.970335       0.000000
25%        -1.162288      -1.174820       0.130359      59.450441
50%         0.009424      -0.009482       2.484236      94.925613
75%         1.158535       1.163678       4.858794     130.595027
max         7.238262       7.844801      16.739402     190.029838

## Limpieza de datos

Es común tener datos vacíos o errados en nuestros datos. En este caso contamos con una columna que no nos proporciona información y solo confundirá a nuestro modelo. Para evitar este problema, eliminaremos la columna `id` de cada Dataframe.

También, agruparemos a los Dataframes en una lista, esto nos permitirá ahorrar espacio y hará al código más eficiente. Algo a tener en mente, solo cambiaremos los datos en esta lista, los Dataframes originales no serán cambiados.

In [33]:
dfs = [df0, df1, df2]

In [34]:
for df in range(len(dfs)):
    dfs[df] = dfs[df].drop('id', axis=1)

Revisemos uno de los Dataframes y verifiquemos el cambio que hicimos.

In [35]:
dfs[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   f0       100000 non-null  float64
 1   f1       100000 non-null  float64
 2   f2       100000 non-null  float64
 3   product  100000 non-null  float64
dtypes: float64(4)
memory usage: 3.1 MB

# Primer modelo

Los datos se dividirán en 75% entrenamiento y 25% validación. Este proceso se hará para cada Dataframe con los cuales estamos trabajando.

Los datos de cada región están ordenados de la misma manera. Cada uno tiene 3 columnas que serán nuestros *features* (`f0`, `f1` y `f2`). La significancia de estas columnas es desconocida para nosotros, pero, tanto nosotros como el modelo predictivo, no necesitamos saber que significa, solamente que estos son datos importantes.

Por otro lado, la columna `product` será nuestro *target*.

In [36]:
rs = RandomState(54321) # Fijemos una semilla

In [44]:
targets = [] # Donde juntaremos los target de validación
preds = [] # Donde juntaremos las predicciones de validación

for i in range(len(dfs)):
    df_train, df_valid = train_test_split(dfs[i], test_size=0.25, random_state=rs) # Dividmos los datos
    features_train = df_train.drop(['product'], axis=1) # Creamos features de entrenamiento
    target_train = df_train['product'] # Creamos targets de entrenamiento
    features_valid = df_valid.drop(['product'], axis=1) # Creamos features de validación
    target_valid = df_valid['product'] # Creamos target de validación
    
    reg = LinearRegression() # Creamos la regresión
    reg.fit(features_train, target_train) # Entrenamos a la regresión

    pred = reg.predict(features_valid) # Hacemos predicciones con el modelo
    ecm = mean_squared_error(target_valid, pred) # Calculamos el ECM
    recm = ecm**0.5 # Calculamos el RECM
    mean = dfs[i]['product'].mean() # Calculamos el promedio
    
    # Agregamos las informaciones a las listas externas
    targets.append(target_valid.reset_index(drop=True))
    preds.append(pd.Series(pred))
    
    # Imprimimos los resultados
    print('Región', i)
    print('Promedio de las reservas:', mean)
    print('RECM:', recm)
    print()

Región 0
Promedio de las reservas: 92.50000000000001
RECM: 37.85257943459562

Región 1
Promedio de las reservas: 68.82500000000002
RECM: 0.8926100559229203

Región 2
Promedio de las reservas: 95.00000000000004
RECM: 40.00231681170203

## Comparación

¿Será posible? El modelo de la región 1 tuvo un RECM menor a 1. Cercano al valor perfecto de 0. Esto significaría que todas sus predicciones fueron correctas.

Al parecer `reg1` resultó casi perfecto al momento de predecir la cantidad de producto que contiene cada pozo. Comprobaremos si esto se mantiene así cuando testeemos los modelos.

En las otras 2 regiones, nos encontramos con valores de RECM mayores a 22. Esto significa que los modelos no son capaces de realizar predicciones tan confiables y estas predicciones suelen equivocarse por más 22 unidades de producto.

# Cálculo de ganancias

Ahora comencemos a calcular las posibles ganancias que la compañía podría llegar a obtener. Para esto, tenemos algunas condiciones bajo las que vamos a trabajar.

Condiciones:

- Al explorar la región, se lleva a cabo un estudio de 500 puntos con la selección de los mejores 200 puntos para el cálculo del beneficio.
- El presupuesto para el desarrollo de 200 pozos petroleros es de 100 millones de dólares.
- Un barril de materias primas genera 4.5 USD de ingresos. El ingreso de una unidad de producto es de 4500 dólares (el volumen de reservas está expresado en miles de barriles).
- Después de la evaluación de riesgo, mantén solo las regiones con riesgo de pérdidas inferior al 2.5%. De las que se ajustan a los criterios, se debe seleccionar la región con el beneficio promedio más alto.

## Variables importantes

Además de las condiciones para el cálculo, necesitamos aislar las variables necesarias para su cálculo. Para cada región necesitaremos la cantidad de producto por pozo y ordenada en orden descendente para poder considerar los mejores 200 pozos. También calcularemos la cantidad de producto necesaria para establecer un pozo sin perdidas y lo compararemos con la cantidad promedio de producto por pozo en cada región.

In [38]:
# Variables generales
costo_pozo = 100000000/200 # Costo de 200 pozos dividido por pozos
ingreso_producto = 4500 # Ingreso por unidad de producto
riesgo_max = 0.025 # 2.5%

# Región 0
product_0 = df0.loc[:,'product'].sort_values(ascending=False)
mean_0 = product_0.mean()

# Región 1
product_1 = df1.loc[:,'product'].sort_values(ascending=False)
mean_1 = product_1.mean()

# Regiön 2
product_2 = df2.loc[:,'product'].sort_values(ascending=False)
mean_2 = product_2.mean()

## Costo por pozo

Ahora que contamos con las variables que necesitamos, calculemos la cantidad de producto necesario para instalar un pozo sin perdidas.

In [39]:
print('Cantidad de producto necesario en un pozo:', costo_pozo/ingreso_producto)
print()
print('Producto promedio en región 0:', mean_0)
print('Producto promedio en región 1:', mean_1)
print('Producto promedio en región 2:', mean_2)

Cantidad de producto necesario en un pozo: 111.11111111111111

Producto promedio en región 0: 92.50000000000001
Producto promedio en región 1: 68.825
Producto promedio en región 2: 95.0

Como podemos ver, un pozo necesita más producto del que podemos encontrar en promedio en cualquier región. Esto recién para quedar en un punto mínimo, donde pueda eliminar los gastos y comenzar a obtener ganancias. Esto nos confirma la necesidad de utilizar solo los pozos con mayor cantidad de producto. Por curiosidad, veamos la cantidad de producto en los mejores pozos de cada región.

In [40]:
print('Mayor cantidad de producto en región 0:')
print(product_0.head())
print()
print('Mayor cantidad de producto en región 1:')
print(product_1.head())
print()
print('Mayor cantidad de producto en región 1:')
print(product_2.head())
print()

Mayor cantidad de producto en región 0:
8826     185.364347
99818    185.362690
94175    185.355615
1925     185.354980
45291    185.352015
Name: product, dtype: float64

Mayor cantidad de producto en región 1:
53864    137.945408
97083    137.945408
88340    137.945408
64879    137.945408
7288     137.945408
Name: product, dtype: float64

Mayor cantidad de producto en región 1:
79705    190.029838
93444    190.013589
35099    190.011722
21943    190.010982
37870    190.010029
Name: product, dtype: float64

Una posible razón para que el modelo de la región 1 haya podido tener un RECM de 0 puede ser que los valores dentro de esta región se encuentran ubicados dentro de un rango menor. Tanto el promedio, como el producto de los mayores pozos de esta región son notoriamente menores a las otras 2 regiones.

## Ganancias

Escribe una función para calcular la ganancia de un conjunto de pozos de petróleo seleccionados y modela las predicciones:
- 4.1. Escoge los pozos con los valores más altos de predicciones.
- 4.2. Resume el volumen objetivo de reservas de acuerdo con estas predicciones
- 4.3. Proporciona los hallazgos: sugiere una región para el desarrollo de pozos petroleros y justifica la elección. Calcula el beneficio por el volumen de reservas obtenido.

Ahora que conocemos la cantidad mínima que puede tener un pozo para ser una opción viable, podemos comenzar a calcular las ganancias totales según los mejores pozos. Para esto, solo consideraremos los 200 pozos con mayor producto predecido de cada muestra de 500 pozos. 

Necesitamos entonces ordenar estos datos y calcular las posibles ganancias a obtener. Comencemos con la función que hará esto. Luego obtendremos las predicciones y aplicaremos la función.

In [41]:
def revenue(target, product, count):
    prod_sorted = product.sort_values(ascending=False) 
    selected = target[prod_sorted.index][:count] 
    return 4500 *sum(selected)-100000000

In [46]:
num_bootstrap = 1000
n = 0
for tar, pred in zip(targets, preds):
    profits = []
    for i in range(num_bootstrap):
        #hacer muestro con remplazo por el tamaño de muestra sugerido en el target y con la misma semilla del principio
        target_subsample = pd.Series(tar).sample(n=500, replace=True, random_state=rs)
        #utilizar el índice de este muestreo para las predicciones
        pred_subsample = pred[target_subsample.index]
        #calcular el profit con la función de arriba y agregarlo a la lista vacía
        profits.append(revenue(target_subsample, pred_subsample, 200))
    #transformar la lista de profits en una serie
    profits = pd.Series(profits)
    #calcular la media
    mean = profits.mean()
    #obtener intervalos de confianza
    trust_down = profits.quantile(0.025)
    trust_up = profits.quantile(0.975)
    #calcular la media de los datos negativos de la serie
    loss = (profits < 0).mean()
    
    print('Región', n)
    print('Ganancia promedio:', mean)
    print('Riesgo de perdida:', loss)
    print('Rango de confianza desde', trust_down, 'hasta', trust_up)
    print()
    n += 1

Región 0
Ganancia promedio: 4797292.6159961475
Ganancia promedio de pozos negativos: 0.043
Rango de confianza desde -397507.06744015287 hasta 10059945.328607181

Región 1
Ganancia promedio: 5551446.789532898
Ganancia promedio de pozos negativos: 0.005
Rango de confianza desde 1345298.142475217 hasta 9907727.17386398

Región 2
Ganancia promedio: 4015594.6875995104
Ganancia promedio de pozos negativos: 0.093
Rango de confianza desde -1259214.182076866 hasta 9724470.999787515

# Conclusión general

Al final de este proyecto ya contamos con la información necesaria para elegir la mejor región en donde instalar los extractores de petroleo y obtener la mayor ganancia con el menor riesgo posible. La región 1 resulta la indicada para esto. Podemos basarnos en 2 argumentos para asegurar este resultado.

Primero considerar que en la sección 4, al ver la certeza de las predicciones según la métrica RECM, obtuvimos predicciones casi perfectas para la región 1. Aunque en esta sección también pudimos ver que el promedio de producto por pozo en la región 1 es el menor de las regiones, la seguridad con la que podemos asegurar la cantidad de producto a encontrar nos pronostica un menor riesgo para futuros negocios en esta región.

En segundo lugar, en la sección 5 vemos que la región 1 promete traer las mayores ganancias. Las ganancias de esta región son más del doble de las pronosticadas para la región 0, que se encuentra en el segundo lugar. También se aprovecha a mencionar que la región 2 pronostica grandes perdidas si se intentara extraer el producto de sus pozos. Considerando los altos promedios de producto que las regiones 0 y 2 tienen, podemos concluir que probablemnete se deba a  algunos pocos pozos especificos con una cantidad muy alta de producto. Se podría considerar como objetivo en una siguiente investigación la identificación de estos pozos.

Por ahora y considerando la información disponible, la mejor opción resulta instalar los nuevos extractores de petroleo en la región 1. En esta región podemos maximizar las ganancias mientras minimizamos los riesgos.